
/* Botón del filtro */
.offcanvas-button {
    position: fixed;
    bottom: 100px; /* Más arriba que el carrito */
    right: 20px;
    z-index: 1050;
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.offcanvas-button:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}
