
@media (max-width: 768px) {
    .cart-button {
        top: 155px;
        bottom: auto;
    }

    .modal-content {
        width: 95%;
    }

    .cart-item {
        align-items: center;
    }

    #pedido-form button {
        width: 70%;
    }
}
